.alma-snapshots
.alma
Users/yuy/.config/alma/memory
.vscode/
.pnpm-store

backend/data
backend/logs
backend/models
backend/db/backups

backend/.env
target/
frontend/dist/
_test/
**/__pycache__/
*.py[cod]
.DS_Store
**/.env
!.env.example
!.env.example
backend/.env.example
